<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bilibili.dao.UserRoleMapper">

    <resultMap id="BaseResultMap" type="com.bilibili.domain.auth.AuthRoleMenu">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="roleId" column="roleId" jdbcType="BIGINT"/>
        <result property="menuId" column="menuId" jdbcType="BIGINT"/>
        <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>


    <!--获取用户角色-->

    <select id="getUserRoleByUserId" resultType="com.bilibili.domain.auth.UserRole">
        select tur.*, tar.name as roleName, tar.code as roleCode
        from t_user_role as tur
                 left join t_auth_role as tar
                           on tur.userId = tar.id
        where tur.userId = #{userId};
    </select>

    <!--添加用户角色-->
    <insert id="addUserRole" parameterType="com.bilibili.domain.auth.UserRole">
        insert into t_user_role(userId, roleId, createTime)
        values (#{userId},#{roleId},#{createTime})
    </insert>


</mapper>
